[submodule "externalFw/BGHUDAppKit"]
	path = externalFw/BGHUDAppKit
	url = https://github.com/binarygod/BGHUDAppKit.git
[submodule "externalFw/MGTwitterEngine"]
	path = externalFw/MGTwitterEngine
	url = https://github.com/mattgemmell/MGTwitterEngine.git
